.form-control {
    background: transparent;
    border: none;
    padding: 0px;
    padding-top: 10px;
}

.from-group-header {
    color: rgb(15, 109, 204);
    text-align: center;
    padding: 30px;
    font-size: 35px;
}

.validation-message {
    font-weight: bold;
    color: red;
    padding-top: 5px;
    font-size: 15px;
}

.form-field {
    width: 280px;
}

.x-button {
    border: none;
    background-color: transparent;
}

.x-icon {
    color: red;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}