.image-format {
    width: 100%;
    height: 100%;
}

.image-format:hover {
    border: 2px solid rgb(54, 108, 189);
}

.image-container {
    overflow: auto;
    height: 100%;
}

.button-row {
    display: flex;
    justify-content: center;
}

.button-format {
    margin: 5px;
}