<div class="row pet-container">
    <div class="col-3">
        <div class="characteristics-heading">Characteristics</div>
        <mat-vertical-stepper #stepper [linear]="true" style="background: none;">
            <mat-step label="Pet Size" [completed]="isSizeChosen" [editable]="false">
                <mat-chip-listbox>
                    <mat-chip-option *ngFor="let chipName of chipSizeList" (click)="performSizeAction(chipName)">
                        {{chipName}}
                    </mat-chip-option>
                </mat-chip-listbox>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step label="Pet Color" [completed]="isColorChosen" [editable]="false">
                <mat-chip-listbox>
                    <mat-chip-option *ngFor="let chipColor of chipColorList" (click)="performColorAction(chipColor)">
                        {{chipColor}}
                    </mat-chip-option>
                </mat-chip-listbox>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step label="Pet Weight" [completed]="isWeightChosen" [editable]="false">
                <mat-chip-listbox>
                    <mat-chip-option *ngFor="let chipWeight of chipWeightList" (click)="performWeightAction(chipWeight)">
                        {{chipWeight}}
                    </mat-chip-option>
                </mat-chip-listbox>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset(); reset()">Reset</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
        <div class="button-box">
            <button mat-raised-button color="primary" (click)="selectNextTab(1)">Previous</button>
        </div>
    </div>

    <div class="col-3">
        <table class="table-style">
            <th class="stats-heading" colspan="2">Stats</th>
            <tbody>
                <tr>
                    <td class="stats-atributes">Anger:</td>
                    <td class="star-cell">
                        <div class="stars-container">
                            <div *ngFor="let star of angerStats; let i = index">
                                <mat-icon id="{{'angerStarId'+ i}}">star</mat-icon>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="stats-atributes">Stealth:</td>
                    <td class="star-cell">
                        <div class="stars-container">
                            <div *ngFor="let star of stealthStats; let i = index">
                                <mat-icon id="{{'stealthStarId'+ i}}">star</mat-icon>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="stats-atributes">Speed:</td>
                    <td class="star-cell">
                        <div class="stars-container">
                            <div *ngFor="let star of weightStats; let i = index">
                                <mat-icon id="{{'weightStarId'+ i}}">star</mat-icon>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="stats-atributes">Initiative:</td>
                    <td class="star-cell">
                        <div class="stars-container">
                            <div *ngFor="let star of initiativeStats; let i = index">
                                <mat-icon id="{{'initiativeStarId'+ i}}">star</mat-icon>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="stats-atributes">Charisma:</td>
                    <td class="star-cell">
                        <div class="stars-container">
                            <div *ngFor="let star of charismaStats; let i = index">
                                <mat-icon id="{{'charismaStarId'+ i}}">star</mat-icon>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="stats-atributes">Defence:</td>
                    <td class="star-cell">
                        <div class="stars-container">
                            <div *ngFor="let star of defenceStats; let i = index">
                                <mat-icon id="{{'defenceStarId'+ i}}">star</mat-icon>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col">
        <div class="row">
            <img style="height: 300px;" [src]="petImage">
        </div>
    </div>
</div>